In [106]:
import pandas as pd
raw_data = pd.read_excel(r'Online Retail.xlsx')

In [107]:
raw_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [108]:
#InvoiceNo - Drop and derive cancellation
def checkIsReturn(row):    
    if row['InvoiceNo'][0] == "C":
        return 1
    else:
        return 0
raw_data['InvoiceNo']= raw_data['InvoiceNo'].apply(str)
raw_data['isReturn'] = raw_data.apply(lambda row: checkIsReturn(row), axis=1)

# Remove column InvoiceNo
raw_data.drop(['InvoiceNo'], axis = 1, inplace = True)

In [109]:
#STock code - value count analysis
raw_data['StockCode'].value_counts()

85123A    2313
22423     2203
85099B    2159
47566     1727
20725     1639
          ...
35644        1
62095B       1
35594        1
85115B       1
17028J       1
Name: StockCode, Length: 4070, dtype: int64

In [110]:
# Remove column Decription, CustomerID
raw_data.drop(['Description'], axis = 1, inplace = True)
raw_data.drop(['CustomerID'], axis = 1, inplace = True)

In [112]:
#Transfor Invoice date
#Invoice Date - Transform - 1. Morning,AFternoon,Evening,Night, 2. Month, 3. Week,4. FY Qtr, 5 Day of the year
def getDayOfWeek(row):  
    return row['InvoiceDate'].dayofweek

def getYearAndQtr(row):  
    return ''.join([str(row['InvoiceDate'].year),'-',str(row['InvoiceDate'].quarter)])

def getDayOfYear(row):  
    return row['InvoiceDate'].dayofyear

def getWeek(row):  
    return row['InvoiceDate'].week

def getMonth(row):  
    return row['InvoiceDate'].month

def getMorNoonEveNight(row):
    hour = row['InvoiceDate'].hour
    if (hour >= 4) & (hour < 12):
        return 'Morning'
    elif (hour >= 12) & (hour < 4):
        return 'Noon'
    elif (hour >= 4) & (hour < 9):
        return 'Evening'
    elif (hour >= 9) & (hour < 4):
        return 'Night'
    else: return 'None'

raw_data['DOW'] = raw_data.apply(lambda row: getDayOfWeek(row), axis=1)
raw_data['Year-Qtr'] = raw_data.apply(lambda row: getYearAndQtr(row), axis=1)
raw_data['DayOfYear'] = raw_data.apply(lambda row: getDayOfYear(row), axis=1)
raw_data['Week'] = raw_data.apply(lambda row: getWeek(row), axis=1)
raw_data['Month'] = raw_data.apply(lambda row: getMonth(row), axis=1)
raw_data['Morn_Eve_Noon_Night'] = raw_data.apply(lambda row: getMorNoonEveNight(row), axis=1)

In [114]:
# Import label encoder
from sklearn import preprocessing
 
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
 
# Encode labels in column 'Morn_Eve_Noon_Night'.
raw_data[pd.isnull('Morn_Eve_Noon_Night')]  = 'NaN'
raw_data['Morn_Eve_Noon_Night']= label_encoder.fit_transform(raw_data['Morn_Eve_Noon_Night'])
raw_data['Morn_Eve_Noon_Night'].unique()

array([0, 1])

In [116]:
country = pd.get_dummies(raw_data['Country'],drop_first= True)
transformed_data = pd.concat([raw_data,country], axis = 1)

In [117]:
transformed_data.iloc[0,:]

StockCode                            85123A
Quantity                                  6
InvoiceDate             2010-12-01 08:26:00
UnitPrice                              2.55
Country                      United Kingdom
isReturn                                  0
DOW                                       2
Year-Qtr                             2010-4
DayOfYear                               335
Week                                     48
Month                                    12
Morn_Eve_Noon_Night                       0
False                                   NaN
Austria                                   0
Bahrain                                   0
Belgium                                   0
Brazil                                    0
Canada                                    0
Channel Islands                           0
Cyprus                                    0
Czech Republic                            0
Denmark                                   0
EIRE                                      0
European Community                        0
Finland                                   0
France                                    0
Germany                                   0
Greece                                    0
Hong Kong                                 0
Iceland                                   0
Israel                                    0
Italy                                     0
Japan                                     0
Lebanon                                   0
Lithuania                                 0
Malta                                     0
Netherlands                               0
Norway                                    0
Poland                                    0
Portugal                                  0
RSA                                       0
Saudi Arabia                              0
Singapore                                 0
Spain                                     0
Sweden                                    0
Switzerland                               0
USA                                       0
United Arab Emirates                      0
United Kingdom                            1
Unspecified                               0
Name: 0, dtype: object