In [1]:
import pandas as pd
df = pd.read_csv(r'7_73_KWT.csv')

In [3]:
df.head()

,ITEM,DMDUNIT,MAX_DATE,BASEPRICE,LOC,SPZONE,PMZONE,U_COUNTRY
0,129691885,129691884_NOCOLOUR,02-APR-22,2.889,309650003,7_73,8_249,KWT
1,129691885,129691884_NOCOLOUR,02-APR-22,2.889,306340003,7_73,8_250,KWT
2,129691885,129691884_NOCOLOUR,02-APR-22,2.889,308330003,7_73,8_250,KWT
3,129691885,129691884_NOCOLOUR,02-APR-22,2.889,307080003,7_73,8_250,KWT
4,129691885,129691884_NOCOLOUR,02-APR-22,2.889,308090003,7_73,8_250,KWT

In [61]:
grp_data = df.groupby(by=['DMDUNIT','PMZONE','LOC'])['BASEPRICE'].mean()
grp_data = grp_data.reset_index()

In [65]:
grp_data.head()

              DMDUNIT PMZONE        LOC  BASEPRICE
0  129691884_NOCOLOUR  8_249  309650003      2.889
1  129691884_NOCOLOUR  8_250  305860003      2.889
2  129691884_NOCOLOUR  8_250  306340003      2.889
3  129691884_NOCOLOUR  8_250  306500003      2.889
4  129691884_NOCOLOUR  8_250  306530003      2.889

In [84]:
unique_options = grp_data["DMDUNIT"].value_counts().index

In [94]:
i = 0
for each_dmdunit in unique_options:
    i +=1
    sub_grp = grp_data[grp_data["DMDUNIT"] == each_dmdunit]
    for each_row in sub_grp["BASEPRICE"]:
        print(each_row.unique)
    if i ==1:
        break

AttributeError: 'str' object has no attribute 'unique'