In [1]:
import pandas as pd
import numpy as np

In [3]:
#1. Write a Pandas program to create and display a 
#one-dimensional array-like object containing an array of data using Pandas module.
arr = pd.Series([1,2,3,4,5,6])
arr

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [7]:
#2.Write a Pandas program to convert a Panda module Series to Python list and it's type
arr = pd.Series([1,2,3,4,5,6])
print(list(arr))
print(type(list(arr)))

[1, 2, 3, 4, 5, 6]
<class 'list'>

In [15]:
#3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series. Go to the editor
# Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
list1 = [2, 4, 6, 8, 10]
list2 = [1, 3, 5, 7, 9]
series1 = pd.Series(list1)
series2 = pd.Series(list2)
print(series1 + series2,'\n')
print(series1 - series2,'\n')
print(series1 * series2,'\n')
print(series1 / series2)

0     3
1     7
2    11
3    15
4    19
dtype: int64

0    1
1    1
2    1
3    1
4    1
dtype: int64

0     2
1    12
2    30
3    56
4    90
dtype: int64

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [16]:
#4. Write a Pandas program to compare the elements of the two Pandas Series. Go to the editor
#Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]
series1 = pd.Series([2, 4, 6, 8, 10])
series2 = pd.Series([1, 3, 5, 7, 10])
series1 == series2

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [20]:
#5. Write a Pandas program to convert a dictionary to a Pandas series. Go to the editor
#Sample Series:
#Original dictionary:
#{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
myDict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
series1 = pd.Series(myDict)
series1

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [25]:
#6. Write a Pandas program to convert a NumPy array to a Pandas series.[10 20 30 40 50]
myArray = np.array([10, 20, 30, 40, 50])
mySeries = pd.Series(myArray)
mySeries

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [49]:
# 7. Write a Pandas program to change the data type of given a column or a Series
# Sample Series:
# Original Data Series:
# 0 100
# 1 200
# 2 python
# 3 300.12
# 4 400
# dtype: object
# Change the said data type to numeric:
# 0 100.00
# 1 200.00
# 2 NaN
# 3 300.12
# 4 400.00
# dtype: float64
series1 = pd.Series(['100','200','python','300.12','400'])
series2 = pd.to_numeric(series1,errors = 'coerce')
series2

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [54]:
# 8. Write a Pandas program to convert the first column of a DataFrame as a Series. Go to the editor
# Sample Output:
# Original DataFrame
# col1 col2 col3
# 0 1 4 7
# 1 2 5 5
# 2 3 6 8
# 3 4 9 12
# 4 7 5 1
# 5 11 0 11
# 1st column as a Series:
# 0 1
# 1 2
# 2 3
# 3 4
# 4 7
# 5 11
# Name: col1, dtype: int64
# <class 'pandas.core.series.Series'>
myMatrix = [[1,4,7],[3,6,8],[4,9,12],[7,5,1],[11,0,11]]
df = pd.DataFrame(myMatrix,columns=['col1','col2','col3'])
df['col1']

0     1
1     3
2     4
3     7
4    11
Name: col1, dtype: int64

In [56]:
# 9. Write a Pandas program to convert a given Series to an array. Go to the editor
# Sample Output:
# Original Data Series:
# 0 100
# 1 200
# 2 python
# 3 300.12
# 4 400
# dtype: object
# Series to an array
# ['100' '200' 'python' '300.12' '400']
series1 = pd.Series(['100','200','python','300.12','400'])
np.array(series1)

numpy.ndarray

In [64]:
# 10. Write a Pandas program to convert Series of lists to one Series. Go to the editor
# Sample Output:
# Original Series of list
# 0 [Red, Green, White]
# 1 [Red, Black]
# 2 [Yellow]
# dtype: object
# One Series
# 0 Red
# 1 Green
# 2 White
# 3 Red
# 4 Black
# 5 Yellow
# dtype: object
mySeries = pd.Series([['Red', 'Green', 'White'],['Red', 'Black'],['Yellow']])
oneSeries = mySeries.apply(pd.Series).stack().reset_index(drop = True)
oneSeries

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [68]:
mySeries.apply()

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [73]:
# 11. Write a Pandas program to sort a given Series. Go to the editor
# Sample Output:
# Original Data Series: 0 100
# 1 200
# 2 python
# 3 300.12
# 4 400
# dtype: object
# 0 100
# 1 200
# 3 300.12
# 4 400
# 2 python
# dtype: object

mySeries = pd.Series(['100','200','Python','300','150','400'])
pd.Series.sort_values(mySeries).reset_index(drop=True)

0       100
1       150
2       200
3       300
4       400
5    Python
dtype: object

In [80]:
# 12. Write a Pandas program to add some data to an existing Series. Go to the editor
# Sample Output:
# Original Data Series:
# 0 100
# 1 200
# 2 python
# 3 300.12
# 4 400
# dtype: object
# Data Series after adding some data:
# 0 100
# 1 200
# 2 python
# 3 300.12
# 4 400
# 0 500
# 1 php
# dtype: object
series1 = pd.Series(['100','200','Python','300.12','150','400'])
series1.append(pd.Series(['500','php']))

0       100
1       200
2    Python
3    300.12
4       150
5       400
0       500
1       php
dtype: object

In [84]:
# 13. Write a Pandas program to create a subset of a given series based on value and condition. Go to the editor
# Sample Output:
# Original Data Series:
# 0 0
# 1 1
# 2 2
# 3 3
# 4 4
# 5 5
# 6 6
# 7 7
# 8 8
# 9 9
# 10 10
# dtype: int64
# Subset of the above Data Series:
# 0 0
# 1 1
# 2 2
# 3 3
# 4 4
# 5 5
# dtype: int64
series1 = pd.Series([0,1,2,3,4,5,6,7,8,9,10])
series1[series1 <= 5]

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [95]:
# 14. Write a Pandas program to change the order of index of a given series. Go to the editor
# Sample Output:
# Original Data Series:
# A 1
# B 2
# C 3
# D 4
# E 5
# dtype: int64
# Data Series after changing the order of index:
# B 2
# A 1
# C 3
# D 4
# E 5
# dtype: int64
series1 = pd.Series([1,2,3,4,5], index=['A','B','C','D','E'])
new_index = ['B','A','C','D','E']
series2 = series1.reindex(new_index)
series2

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [98]:
# 15. Write a Pandas program to create the mean and standard deviation of the data of a given Series. Go to the editor
# Sample Output:
# Original Data Series:
# 0 1
# 1 2
# 2 3
# 3 4
# 4 5
# 5 6
# 6 7
# 7 8
# 8 9
# 9 5
# 10 3
# dtype: int64
# Mean of the said Data Series:
# 4.818181818181818
# Standard deviation of the said Data Series:
# 2.522624895547565
mySeries = pd.Series([1,2,3,4,5,6,7,8,9,5,3])
print(mySeries.mean())
print(mySeries.std())

4.818181818181818
2.522624895547565

In [108]:
# 16. Write a Pandas program to get the items of a given series not present in another given series. Go to the editor
# Sample Output:
# Original Series:
# sr1:
# 0 1
# 1 2
# 2 3
# 3 4
# 4 5
# dtype: int64
# sr2:
# 0 2
# 1 4
# 2 6
# 3 8
# 4 10
# dtype: int64
# Items of sr1 not present in sr2:
# 0 1
# 2 3
# 4 5
# dtype: int64
series1 = pd.Series([1,2,3,4,5])
series2 = pd.Series([2,4,6,8,10])
series1[~(series1.isin(series2))]

0    1
2    3
4    5
dtype: int64

In [121]:
# 17. Write a Pandas program to get the items which are not common of two given series. Go to the editor
# Sample Output:
# Original Series:
# sr1:
# 0 1
# 1 2
# 2 3
# 3 4
# 4 5
# dtype: int64
# sr2:
# 0 2
# 1 4
# 2 6
# 3 8
# 4 10
# dtype: int64
# Items of a given series not present in another given series:
# 0 1
# 2 3
# 4 5
# 5 6
# 6 8
# 7 10
# dtype: int64
sr1 = pd.Series([1,2,3,4,5])
sr2 = pd.Series([2,4,6,8,10])
newSeries1 = pd.Series(np.intersect1d(sr1,sr2))
newSeries2 = pd.Series(np.union1d(sr1,sr2))
newSeries2[~newSeries2.isin(newSeries1)]

0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

In [164]:
# 18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series. Go to the editor
# Sample Output:
# Original Series:
# 0 3.000938
# 1 11.370722
# 2 14.612143
# 3 8.990256
# 4 13.925283
# 5 12.056875
# .... 17 14.118931
# 18 8.247458
# 19 5.526727
# dtype: float64
# Minimum, 25th percentile, median, 75th, and maximum of a given series:
# [ 3.00093811 8.09463867 10.23353705 12.21537733 14.61214321]
np.random.seed(101)
mySeries = pd.Series(np.random.rand(20))

np.percentile(mySeries,[0,25,50,75,100])

array([0.02847423, 0.22174998, 0.53531311, 0.72340609, 0.96548322])

In [162]:
qrt25_75.loc[0.25]

0.22174998491226972

In [183]:
# 19. Write a Pandas program to calculate the frequency counts of each unique value of a given series. Go to the editor
# Sample Output:
# Original Series:
# 0 1
# 1 7
# 2 1
# 3 6
# 4 9
# 5 1
# ... 29 2
# 30 9
# 31 1
# 32 2
# 33 9
# 34 2
# 35 9
# 36 0
# 37 0
# 38 4
# 39 8
# dtype: object
# Frequency of each unique value of the said series.
# 0 9
# 2 7
# 9 6
# 1 5
# 6 3
# 8 3
# 7 3
# 3 2
# 4 1
# 5 1
# dtype: int64
np.random.seed(101)
mySeries = pd.Series(np.random.randint(1,high=15,size=40,dtype=int))
mySeries.value_counts()

13    5
9     5
14    4
12    4
10    4
4     4
8     3
11    2
6     2
2     2
1     2
7     1
5     1
3     1
dtype: int64

In [259]:
# 20. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series. Go to the editor
# Sample Output:
# Original Series:
# 0 3
# 1 1
# 2 1
# 3 3
# 4 2
# 5 2
# 6 1
# 7 2
# 8 3
# 9 1
# 10 2
# 11 2
# 12 2
# 13 3
# 14 3
# dtype: int64
# Top 2 Freq: 2 6
# 3 5
# 1 4
# dtype: int64
# 0 Other
# 1 Other
# 2 Other
# 3 Other
# 4 2
# 5 2
# 6 Other
# 7 2
# 8 Other
# 9 Other
# 10 2
# 11 2
# 12 2
# 13 Other
# 14 Other
# dtype: object

mySeries = pd.Series([3,1,1,3,2,2,1,2,3,1,2,2,2,3,3])
valueCounts = mySeries.value_counts()
maxOccur = valueCounts[valueCounts == valueCounts.max()].index[0]

mySeries[mySeries != maxOccur] = 'Other'
mySeries

0     Other
1     Other
2     Other
3     Other
4         2
5         2
6     Other
7         2
8     Other
9     Other
10        2
11        2
12        2
13    Other
14    Other
dtype: object

In [268]:
# 21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series. Go to the editor
# Sample Output:
# Original Series:
# 0 10
# 1 9
# 2 8
# 3 60
# 4 9
# 5 7
# 6 1
# 7 10
# 8 1
# dtype: int64
# Positions of numbers that are multiples of 5:
mySeries = pd.Series([10,9,8,60,9,7,1,10,1])

pd.Series(mySeries[mySeries % 5 == 0].index.values)

0    0
1    3
2    7
dtype: int64

In [286]:
# 22. Write a Pandas program to extract items at given positions of a given series. Go to the editor
# Sample Output:
# Original Series:
# 0 2
# 1 3
# 2 9
# 3 0
# 4 2
# 5 3
# ... 19 0
# 20 2
# 21 3
# dtype: object
# Extract items at given positions of the said series:
# 0 2
# 2 9
# 6 8
# 11 0
# 21 3
# dtype: object
mySeries = pd.Series([2,3,9,0,2,3,1,3,4,3,4,5,6,7,0,2,3])
mySeries.loc[[0,2,6,11]]

0     2
2     9
6     1
11    5
dtype: int64

In [48]:
# 40. Write a Pandas program to check inequality over the index axis of a given dataframe and a given series. Go to the editor
# Sample Output:
# Original DataFrame:
# W X Y Z
# 0 68.0 78.0 84 86
# 1 75.0 75.0 94 97
# 2 86.0 NaN 89 96
# 3 80.0 80.0 86 72
# 4 NaN 86.0 86 83
# Original Series:
# 0 68.0
# 1 75.0
# 2 86.0
# 3 80.0
# 4 NaN
# dtype: float64
# Check for inequality of the said series & dataframe:
# W X Y Z
# 0 False True True True
# 1 False False True True
# 2 False True True True
# 3 False False True True
# 4 True True True True
df = pd.DataFrame([[68.0, 78.0, 84, 86.0],[75.0, 75, 94, 97],
              [86.0,np.nan , 89, 96],[80.0, 80.0, 86, 72],[np.nan , 86.0, 86, 83]],columns= ['W', 'X', 'Y', 'Z'])
mySeries = pd.Series([68.0,75.0,86.0,80,83])

df.ne(mySeries, axis = 0)

       W      X     Y      Z
0  False   True  True   True
1  False  False  True   True
2  False   True  True   True
3  False  False  True   True
4   True   True  True  False

In [63]:
# 39. Write a Pandas program to find the index of the first occurrence of the smallest and largest value of a given series. Go to the editor
# Sample Output:
# Original Series:
# 0 1
# 1 3
# 2 7
# 3 12
# 4 88
# 5 23
# 6 3
# 7 1
# 8 9
# 9 0
# dtype: int64
# Index of the first occurrence of the smallest and largest value of the said series:
# 9
# 4

mySeries = pd.Series([1,3,7,12,88,23,3,1,9,0])
#print(mySeries[mySeries == min(mySeries)].index[0])
#print(mySeries[mySeries == max(mySeries)].index[0])

print(mySeries.idxmax())
print(mySeries.idxmin())

4
9

In [65]:
# 38. Write a Pandas program to check the equality of two given series. Go to the editor
# Sample Output:
# Original Series:
# 0 1
# 1 8
# 2 7
# 3 5
# 4 6
# 5 5
# 6 3
# 7 4
# 8 7
# 9 1
# dtype: int64
# 0 1
# 1 8
# 2 7
# 3 5
# 4 6
# 5 5
# 6 3
# 7 4
# 8 7
# 9 1
# dtype: int64
# Check 2 series are equal or not?
# 0 True
# 1 True
# 2 True
# 3 True
# 4 True
# 5 True
# 6 True
# 7 True
# 8 True
# 9 True
# dtype: bool
mySeries = pd.Series([1,8,7,5,6,5,3,4,7,1])
testSeries = pd.Series([1,8,7,5,6,5,3,4,7,1])
mySeries == testSeries

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

In [79]:
# 37. Write a Pandas program to stack two given series vertically and horizontally. Go to the editor
# Sample Output:
# Original Series:
# 0 0
# 1 1
# 2 2
# 3 3
# 4 4
# 5 5
# 6 6
# 7 7
# 8 8
# 9 9
# dtype: int64
# 0 p
# 1 q
# 2 r
# 3 s
# 4 t
# 5 u
# 6 v
# 7 w
# 8 x
# 9 y
# dtype: object
# Stack two given series vertically and horizontally:
# 0 1
# 0 0 p
# 1 1 q
# 2 2 r
# 3 3 s
# 4 4 t
# 5 5 u
# 6 6 v
# 7 7 w
# 8 8 x
# 9 9 y
series1 = pd.Series([0,1,2,3,4,5,6,7,8,9])
series2 = pd.Series(['p','q','r','s','t','u','v','w','x','y'])
print(pd.concat([series1,series2],axis = 1),'\n')
print(pd.concat([series1,series2],axis = 0))

   0  1
0  0  p
1  1  q
2  2  r
3  3  s
4  4  t
5  5  u
6  6  v
7  7  w
8  8  x
9  9  y

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
0    p
1    q
2    r
3    s
4    t
5    u
6    v
7    w
8    x
9    y
dtype: object

In [108]:
# 36. Write a Pandas program to convert given series into a dataframe with its index as another column on the dataframe. Go to the editor
# Sample Output:
# index 0
# 0 A 0
# 1 B 1
# 2 C 2
# 3 D 3
# 4 E 4
char_list = list('ABCDEFGHIJKLMNOP')
num_arra = np.arange(8)
num_dict = dict(zip(char_list, num_arra))
num_ser = pd.Series(num_dict)
df = num_ser.to_frame().reset_index()
print(df.head())

  index  0
0     A  0
1     B  1
2     C  2
3     D  3
4     E  4

In [117]:
# 35. Write a Pandas program to create a TimeSeries to display all the Sundays of given year. Go to the editor
# Sample Output:
# All Sundays of 2019:
# 0 2020-01-05
# 1 2020-01-12
# 2 2020-01-19
# 3 2020-01-26
# 4 2020-02-02
# 5 2020-02-09
# ..... 48 2020-12-06
# 49 2020-12-13
# 50 2020-12-20
# 51 2020-12-27
# dtype: datetime64[ns]

pd.date_range(start='01/01/2021', end='12/31/2021', freq='W-SUN'

DatetimeIndex(['2021-01-03', '2021-01-10', '2021-01-17', '2021-01-24',
               '2021-01-31', '2021-02-07', '2021-02-14', '2021-02-21',
               '2021-02-28', '2021-03-07', '2021-03-14', '2021-03-21',
               '2021-03-28', '2021-04-04', '2021-04-11', '2021-04-18',
               '2021-04-25', '2021-05-02', '2021-05-09', '2021-05-16',
               '2021-05-23', '2021-05-30', '2021-06-06', '2021-06-13',
               '2021-06-20', '2021-06-27', '2021-07-04', '2021-07-11',
               '2021-07-18', '2021-07-25', '2021-08-01', '2021-08-08',
               '2021-08-15', '2021-08-22', '2021-08-29', '2021-09-05',
               '2021-09-12', '2021-09-19', '2021-09-26', '2021-10-03',
               '2021-10-10', '2021-10-17', '2021-10-24', '2021-10-31',
               '2021-11-07', '2021-11-14', '2021-11-21', '2021-11-28',
               '2021-12-05', '2021-12-12', '2021-12-19', '2021-12-26'],
              dtype='datetime64[ns]', freq='W-SUN')

In [137]:
# 34. Write a Pandas program to compute the autocorrelations of a given numeric series. Go to the editor
# From Wikipedia:
# Autocorrelation, also known as serial correlation, is the correlation of a signal with a delayed copy of itself as a function of delay. Informally, it is the similarity between observations as a function of the time lag between them.
# Sample Output:
# Original series:
# 0 13.207262
# 1 4.098685
# 2 -1.435534
# 3 13.626760
# ... 13 -2.346193
# 14 17.873884
# dtype: float64
num_series = pd.Series(np.arange(15) + np.random.normal(1, 10, 15))
for i in range(12):
    print(num_series.autocorr(i).round(2))

1.0
0.48
0.15
0.05
-0.03
-0.12
-0.31
-0.32
-0.32
-0.69
-0.0
0.91

In [151]:
# 33. Write a Pandas program to replace missing white spaces in a given string with the least frequent character. Go to the editor
# Sample Output:
# Original series:
# abc def abcdef icd
# c 3
# d 3
# 3
# b 2
# e 2
# a 2
# f 2
# i 1
# dtype: int64
# abcidefiabcdefiicd

string = 'abc def abcdef icd'
mySeries = pd.Series(list(string))
valueCount = mySeries.value_counts()

leastFreq = valueCount[valueCount == sorted(mySeries.value_counts())[0]].index[0]
string.replace(' ',leastFreq)

'abcidefiabcdefiicd'

In [169]:
# 32. Write a Pandas program to find the positions of the values neighboured by smaller values on both sides in a given series. Go to the editor
# Sample Output:
# Original series:
# 0 1
# 1 8
# 2 7
# 3 5
# 4 6
# 5 5
# 6 3
# 7 4
# 8 7
# 9 1
# dtype: int64
# Positions of the values surrounded by smaller values on both sides:
# [1 4 8]
mySeries = pd.Series([1,8,7,5,6,5,3,4,7,1])
index = 0
outSeries = []
for each in mySeries.values:
    if index == 0:
        index +=1  
        continue
    elif index == len(mySeries)-1:
        break
    else:
        if (each > mySeries[index - 1]) & (each > mySeries[index + 1]):
            outSeries.append(index)
    index +=1   
    
outSeries

[1, 4, 8]

In [166]:
mySeries[2]

7