In [64]:
import xml.etree.ElementTree as ETree
import pandas as pd
xmldata = "20220207052043000_Clearance_Price_BTS.xml"
prstree = ETree.parse(xmldata)
root = prstree.getroot()
store_items = []
all_items = []

In [89]:
df = pd.DataFrame()
counter = 1
for each_data in root.findall('priceSpecification/priceSpecificationData/'):

    itemIdentifier = each_data.text.split(',')[0]
    demandChannel = each_data.text.split(',')[1]
    locationIdentifier = each_data.text.split(',')[2]
    priceEffectiveStartDate = each_data.text.split(',')[3]
    priceEffectiveEndDate = each_data.text.split(',')[4]
    retailPrice = each_data.text.split(',')[5]
    retailPriceWithTaxes = each_data.text.split(',')[6]
    taxPercentage = each_data.text.split(',')[7]
    depositAmount = each_data.text.split(',')[8]
    priceType = each_data.text.split(',')[9]
    currencyCode = each_data.text.split(',')[10]
    
    store_items = [itemIdentifier, demandChannel, locationIdentifier, priceEffectiveStartDate,priceEffectiveEndDate,retailPrice, retailPriceWithTaxes,taxPercentage, depositAmount,priceType, currencyCode]
    
    all_items.append(store_items)

xmlToDf = pd.DataFrame(all_items, columns=['itemIdentifier', 'demandChannel', 'locationIdentifier', 'priceEffectiveStartDate', 'priceEffectiveEndDate', 
                                           'retailPrice', 'retailPriceWithTaxes', 'taxPercentage', 'depositAmount', 'priceType', 'currencyCode'])

In [90]:
xmlToDf.head()

,itemIdentifier,demandChannel,locationIdentifier,priceEffectiveStartDate,priceEffectiveEndDate,retailPrice,retailPriceWithTaxes,taxPercentage,depositAmount,priceType,currencyCode
0,220096134,BANDM,308120003,2022-02-21,2049-12-31,.45,.5,.11,,REDUCED,BHD
1,220096912,BANDM,306890003,2022-02-21,2049-12-31,.09,.1,.11,,REDUCED,BHD
2,220096134,BANDM,308120003,2022-02-21,2049-12-31,.45,.5,.11,,REDUCED,BHD
3,220096912,BANDM,306890003,2022-02-21,2049-12-31,.09,.1,.11,,REDUCED,BHD
4,220119766,BANDM,307610003,2022-02-21,2049-12-31,7.56,8.4,.11,,REDUCED,BHD

In [ ]:
xmlToDf['locationID'] = xmlToDf['locationIdentifier'].