In [54]:
import pandas as pd
import numpy as np
data = pd.read_csv("dictionary.csv")

In [3]:
data.head()

           Country Code  Population  GDP per Capita
0      Afghanistan  AFG  32526562.0      594.323081
1          Albania  ALB   2889167.0     3945.217582
2          Algeria  ALG  39666519.0     4206.031232
3  American Samoa*  ASA     55538.0             NaN
4          Andorra  AND     70473.0             NaN

In [4]:
data.tail()

             Country Code  Population  GDP per Capita
196          Vietnam  VIE  91703800.0     2111.138024
197  Virgin Islands*  ISV    103574.0             NaN
198            Yemen  YEM  26832215.0     1406.291651
199           Zambia  ZAM  16211767.0     1304.879014
200         Zimbabwe  ZIM  15602751.0      924.143819

In [5]:
data.describe()

         Population  GDP per Capita
count  1.960000e+02      176.000000
mean   3.722825e+07    12882.556131
std    1.399655e+08    17747.141203
min    1.022200e+04      277.068309
25%    1.638278e+06     1781.096847
50%    7.450124e+06     5233.583395
75%    2.557454e+07    15494.683646
max    1.371220e+09   101449.968168

In [8]:
CtryIdexedData = pd.read_csv("dictionary.csv", index_col ='Country')

In [9]:
CtryIdexedData.head()

                Code  Population  GDP per Capita
Country
Afghanistan      AFG  32526562.0      594.323081
Albania          ALB   2889167.0     3945.217582
Algeria          ALG  39666519.0     4206.031232
American Samoa*  ASA     55538.0             NaN
Andorra          AND     70473.0             NaN

In [19]:
CtryIdexedData.loc['Algeria':'Andorra','Population']

Country
Algeria            39666519.0
American Samoa*       55538.0
Andorra               70473.0
Name: Population, dtype: float64

In [31]:
data.iloc[1:5]

           Country Code  Population  GDP per Capita
1          Albania  ALB   2889167.0     3945.217582
2          Algeria  ALG  39666519.0     4206.031232
3  American Samoa*  ASA     55538.0             NaN
4          Andorra  AND     70473.0             NaN

In [36]:
mySeries= pd.Series(['CLass',2,4,{23:35},[2,3,5]])

In [37]:
mySeries

0        CLass
1            2
2            4
3     {23: 35}
4    [2, 3, 5]
dtype: object

In [42]:
mySeries.index

RangeIndex(start=0, stop=5, step=1)

mySeries.values

In [57]:
mySeries2 = pd.Series([-1,2,3,20,2,3], index=[1,2,3,4,5,6])

In [58]:
mySeries2[1]

-1

In [59]:
mySeries2[[2,3]]

2    2
3    3
dtype: int64

In [60]:
mySeries2[mySeries2 > 1]

2     2
3     3
4    20
5     2
6     3
dtype: int64